// Place all the styles related to the databases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* データベース管理 データベース一覧 */
div.list thead th.view-order {
  width: 10%;
  text-align: center;
}

div.list thead th.name {
  width: 77%;
}
