// Place all the styles related to the expense_types controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* 経費種類管理 経費種類工程一覧 */
div.list thead th.view_order {
  width: 10%;
  text-align: center;
}

div.list thead th.expense_item {
  width: 20%
}

div.list thead th.name {
  width: 57%;
}
