# encoding: utf-8

<script>
  $(function() {
    function select_date_process() {
      var selectDate = $( "#datepicker" ).datepicker( "getDate" );
      $('#calendar').fullCalendar('gotoDate', selectDate);
      // 工数実績日付の設定
      $('#result_result_date').val(selectDate);
      $('#result_start_at_1i').val(selectDate.getFullYear());
      $('#result_start_at_2i').val(selectDate.getMonth()+1);
      $('#result_start_at_3i').val(selectDate.getDate());
      $('#result_end_at_1i').val(selectDate.getFullYear());
      $('#result_end_at_2i').val(selectDate.getMonth()+1);
      $('#result_end_at_3i').val(selectDate.getDate());
    }
    $("#datepicker").datepicker({
      autoSize: true,
      dateFormat: "yy-mm-dd",
      onSelect: function(dateText, inst){
        select_date_process();
<% if action_name != 'new' && action_name != 'create' %>
        var selectDate = $( "#datepicker" ).datepicker( "getDate" );
        window.location.replace(app_name_for_url + '/mh/results/show_by_date?select_date=' + $.fullCalendar.formatDate(selectDate, 'yyyy-MM-dd'));
<% end %>
      },
      beforeShowDay: function(date) {
        var dateStr = createDateStr(date);
        if ($("#resultDateList").val().indexOf(dateStr) != -1) {
          return [true, "exist_results_day"];
        }
        else {
          return [true, ""];
        }
      },
      onChangeMonthYear: function (year, month, instance) {
        /* カレンダーの月が変更になった時の処理 */
      }
  });

  function createDateStr(date) {
    var year = date.getYear();
    var month = date.getMonth() + 1;
    var day = date.getDate();
    if (year < 2000) { year += 1900 };
    month = ('0' + month).slice(-2);
    day = ('0' + day).slice(-2);
    var dateStr = year + "/" + month + "/" + day;
    return dateStr;
  }

  $('#calendar').fullCalendar({
    header: false,
    allDaySlot: false,
    defaultView: 'agendaDay',
    eventSources: [{
        url: app_name_for_url + '/mh/results/get_results_by_user_and_day?user_id=' + $('#user_id').val(),
        color: 'blue',
        textColor: 'black',
        ignoreTimezone: true,
        lazyFetching: false
      }],
    firstDay: 1,
    firstHour: 8,
    axisFormat: 'HH:mm',
    timeFormat: {
      agenda: 'HH:mm{ ～ HH:mm}'
    },
    columnFormat: {
      month: 'ddd',
      week: 'MM/dd ddd',
      day: 'MM/dd' + '（' + 'dddd' + '）'
    },
    dayNames: ['日曜日', '月曜日', '火曜日', '水曜日', '木曜日', '金曜日', '土曜日'],
    dayNamesShort: ['日', '月', '火', '水', '木', '金', '土'],
    ignoreTimezone: false,
    contentHeight: 550,
    eventClick: function(event, jsEvent, view){
      window.location.replace(app_name_for_url + "/mh/results/" + event.id);
    },
    // for tooltip
    eventRender: function(event, element, date ) {
      element.attr('title', event.tooltip); 
    },
<%- if %w(new create edit update).include?(action_name) -%>
    dayClick: function(date, allDay, jsEvent, view) {
      var hour = date.getHours();
      var min = date.getMinutes();
      $("#result_start_at_hour").val(('00' + hour).slice(-2));
      $("#result_start_at_minute").val(('00' + min).slice(-2));
      $("#result_end_at_hour").val(('00' + (hour + 1)).slice(-2));
      $("#result_end_at_minute").val(('00' + min).slice(-2));
    }
<%- end -%>
  });

  // 初期設定
  $( "#datepicker" ).datepicker( "setDate", "<%= @result.result_date.to_s(:db) unless @result.nil? %>" );
  select_date_process();

});
</script>
<div id="left">
  <input type="hidden" id="resultDateList" value="<%= @result_date_list %>" />
  <div id="datepicker"></div>
</div>
<div id="center">
  <div id='calendar'></div>
</div>
